.search{
    padding: 4px;
}
.search-input{
    padding: 5px;
}
.btn-search{
    background-color: blue;
    padding: 5px 15px;
    border: none;
    color: white;
}
.results{
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
}