<div class="p-4 w-full bg-[#fff9ed]">
    <div class="flex justify-between px-4">
      <div class="flex">
        <div class="flex">
          <h1 class="text-[#f3b44b] font-bold text-xs sm:text-sm">Joby</h1>
          <h1 class="text-black font-bold text-xs sm:text-sm">.ai</h1>
          <h1 class="mx-2 px-2 bg-gray-200 rounded-md text-xs sm:text-sm">beta</h1>
        </div>
      </div>

      <div class="hidden sm:flex">
        <p class="mx-2 font-semibold text-xs sm:text-sm border-b-2 border-[#f3b44b] mb-[2px]">Job Seekers</p>
        <p class="mx-2 font-semibold text-xs sm:text-sm">Employers</p>
        <p class="mx-2 font-semibold text-xs sm:text-sm">Data</p>
      </div>

      <div class="hidden sm:flex">
        <button class="mx-2 px-4 py-2 rounded-lg font-semibold bg-[#f3b44b] text-xs sm:text-sm text-black">Log In</button>
        <button class="mx-2 px-4 py-2 rounded-lg font-semibold bg-[#f3b44b] text-xs sm:text-sm text-white">Sign Up</button>
      </div>

      <ng-icon class="sm:hidden" name="heroBars4"></ng-icon>
    </div>

    <div class="flex justify-center mt-20">
      <div class="flex border border-gray-400 p-2 rounded-xl">
        
        <div class="flex border border-gray-400 p-2 text-xs sm:text-sm rounded-xl"> 
          <div class="w-4 h-4 flex justify-center items-center rounded-full mr-2 bg-gray-100 border border-0">
          <div class="w-2 h-2 rounded-full bg-orange-500 border border-0"></div>
        </div> Standout in the market
      </div>
        <div class="text-xs sm:text-sm flex items-center mx-2">Backfill your job board</div>
      </div>
    </div>
  </div>

  <div>
  <svg width="110mm" height="197mm" version="1.1" viewBox="0 0 210 297" xmlns="http://www.w3.org/2000/svg">
<defs>
<marker id="marker37" overflow="visible" markerHeight="1" markerUnits="userSpaceOnUse" markerWidth="1" orient="auto" preserveAspectRatio="xMidYMid" viewBox="0 0 1 1">
 <path transform="scale(.5)" d="m5 0c0 2.76-2.24 5-5 5s-5-2.24-5-5 2.3-5 5-5c2.76 0 5 2.24 5 5z" fill="context-stroke" fill-rule="evenodd"/>
</marker>
</defs>
<path d="m108.01 109.26c0.0802-15.496-0.16096-31.006 0.12171-46.493-0.18471-8.2502 10.492-5.4857 13.455-11.304 4.2631-7.0353-1.0844-15.067-8.9734-15.181h-36.861c-5.7509 1.9882-10.739 7.4878-9.8612 13.836v71.286c-0.26347 6.4312 4.9685 11.832 11.44 10.792 12.285-0.1108 24.591 0.22451 36.862-0.17286 6.9064 0.43483 9.197-7.0027 8.8301-12.626 0.27196-4.1297-1.0788-8.7447 2.152-12.1 2.978-4.2722 8.2064-6.6179 13.342-5.961h32.046v0.38329 0.0337" fill="none" marker-end="url(#marker37)" marker-start="url(#marker37)" stroke="#f3b44b" style="paint-order:normal"/>
</svg>
  </div>